.promo {
	width: 100vw;
	height: calc(1061 * 0.052083 * 1vw);
	padding: 1.667vw 0 9.479vw 0;
	background: url('../img/bg.png') center (center / cover) no-repeat;
	overflow: hidden;
	position: relative;

}
